html,
body,
#book-container {
  max-width: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
}

#app-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 20px;
}

#loading-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
}

#loading-wrapper span {
  margin: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  text-align: justify;
}

#book-container {
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#book-container img {
  max-width: fit-content;
}

#top-menu-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: white;
  border-bottom: 1px solid black;
}

#book-input {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #eee;
  margin: 10px;
  padding: 10px;
}

.buttons {
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-button {
  position: relative;
  width: 100%;
  height: 15%;
}

.left-button {
  position: relative;
  height: 85%;
  width: 40%;
  float: left;
}

.right-button {
  position: relative;
  height: 85%;
  width: 60%;
  float: right;
}